<!-- app.component.html -->
<div class="container">
  <input [type]="inputType()" [value]="password()" placeholder="Enter password" (input)="onChangePassword($event)" />
  <br />
  <input [type]="inputType()" [value]="confirmPassword()" placeholder="Confirm Password" (input)="onChangeConfirmPassword($event)"/>
  <br />
  <br />
  <button (click)="toggleVisibility()">
    {{isVisible() ? 'Hide' : 'Show'}} Password
  </button>
  <p *ngIf="password() !=='' && confirmPassword() !== ''; else passwordMatch">{{ passwordsDoNotMatch() ? 'Passwords do not match' : 'Password matches' }}</p>
  <ng-template #passwordMatch>
    <p>Please add password and confirm password to match !</p>
  </ng-template>

  <ul>
    <li *ngFor="let user of users">
      {{user.name}}
    </li>
  </ul>
  <div [ngSwitch]="status()">
    <p *ngSwitchCase="true">User is online</p>
    <p *ngSwitchCase="false">User is offline</p>
    <p *ngSwitchDefault="">Status unknown</p>
  </div>
  <p *appUnless="status()">You are not online!</p>

  <p appHighlight="lightblue">
    Hover over this paragraph to see the default yellow background
  </p>
  <br />
  <h2>Pipes Example</h2>
  <p>{{"Hello World!" | uppercase}}</p>
  <p>{{"Hello World!" | lowercase}}</p>
  <p>{{123.456 | currency:'INR': 'symbol' : '1.2-2'}}</p>
  <p>{{ today | date: 'yyyy-MM-dd' }}</p>
</div>